.loading-bar {
    width: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loading-text {
    font-size: 0.7em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: white !important;
}
.progress {
    height: 4px;
    background: #746c03;
}

.progress-bar {
    height: 100%;
    transition: 0.4s linear;
}

.progress-striped .progress-bar {
    background-color: #f3e536;
    width: 100%;
    animation: progressAnimationStrike 1s;
}

@keyframes progressAnimationStrike {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.skills-section, .work-section, .about-section {
    width: 100%;
    margin-top: 100px;
    /* height: 90vh; */
    /* background-color: rgb(0, 0, 0); */
    /* overflow: scroll; */
}
.workcard {
    background-color: #fcf9cf !important;
    z-index: 100;
    cursor: pointer;
}
.workcard:hover {
    background-color: #f7f1a4 !important;    
}
.workcard:hover img{
    filter: brightness(50%);
}
.workcard-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 0.9em;
}
.workcard-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}
.about-section h3, .about-section p {
    font-family: 'Open Sans', sans-serif;
    color: #ede5aa;
    letter-spacing: 2px;
}
.about-section a {
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: #0f0f49;
    color: #f3e536;
    cursor: pointer;
    z-index: 100;
}
.about-section a:hover {
    background-color: #e8eb27 !important;
    color: #111 !important;
}
.typewriter {
	display: inline-block;
}

.typewriter-text h3{
    /* display: inline-block; */
  	overflow: hidden;
    /* animation: typing 3s steps(30, end), blink .5s step-end infinite; */
    white-space: nowrap;
    border-right: 4px solid orange;
    /* box-sizing: border-box; */
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

/* Media Query */
@media only screen and (max-width: 700px) {
    .loading-bar {
        width: 60%;
    }
    .work-section, .about-section {
        margin-top: 20px;
    }
    .typewriter-text h3 {
        font-size: 1.2em;
    }
}