.link a{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin: 0 10px;
    font-weight: bolder;
    color: #e8eb27 !important;
    letter-spacing: 1px;
}
.navbar-header {
    background-color: rgb(10,10,43);
    z-index: 100;
}
.navbar-logo {
    font-family: 'Monoton', cursive;
    font-size: 1.3em;
    color: #ede5aa !important;
}
.toggle-button{
    background-color: #ede5aa;
}
.link a:hover {
    color: white !important;
}
.social-contact {
    display: flex;
}

@keyframes animate {
    0%, 100% {
        text-shadow: -1.5px -1.5px 0 #0ff,1.5px 1.5px 0 #f00;
    }
    25% {
        text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
    }
    50% {
        text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
    }
    75% {
        text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
    }
}
@media only screen and (min-width: 994px) {
    .navbar-header {
        height: 10vh;
    }
}
@media only screen and (max-width: 994px) {
    .social-contact {
        display: none;
    }
}