@mixin far-text($color, $font, $weight) {
    color: $color;
    font-family: $font;
    font-weight: $weight;
    letter-spacing: 2px;
    margin: 0;
}

@mixin section($margin-top, $margin-bottom, $background) {
    position: relative;
    z-index: 100;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    background-color: $background;
    animation: scaleIn ease 0.3s;
}

@mixin home-text($size) {
    color: #ede5aa;
    font-family: $font-primary;
    font-weight: bolder;
    text-align: center;
    font-size: $size;
    animation: animate 0.5s linear infinite;
}