@mixin far-text($color, $font, $weight) {
    color: $color;
    font-family: $font;
    font-weight: $weight;
    letter-spacing: 2px;
    margin: 0;
}

@mixin section($margin-top, $margin-bottom, $background, $animation: true) {
    position: relative;
    z-index: 100;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    background-color: $background;
    @if $animation == true {
        animation: scaleIn ease 0.3s;        
    }
}

@mixin home-text($color, $size) {
    color: $color;
    font-family: $font-cover;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    font-size: $size;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}