$white-color: #ffffff;
$black-color: #000000;
$grey-color: #e2e1e0;
$orange-color: #fd7000;
$soft-grey-color: #f6f4f4;
$yellow-color: #f3e536;
// $font-primary: 'Open Sans', sans-serif;
$font-primary: 'Sarabun', sans-serif;
$font-secondary: 'Fredoka One', cursive;
$font-cover: 'HACKED';
// $font-logo: 'Monoton', cursive;
$font-logo: 'Slackey', cursive;
$loading-size: 12px;
$loading-spin-time: 1;